<h2>{{movie?.title}}</h2>
<div class="movie-details">
  <div class="poster-container container">
      <img class="card-img-top" src="{{movie?.poster}}">
  </div>
  <div class="details">
    <p>{{movie?.plot}}</p>
    <table>
        <tbody>
          <tr>
            <td>Actors</td>
            <td>{{movie?.actors}}</td>
          </tr>
          <tr>
            <td>Released</td>
            <td>{{movie?.released}}</td>
          </tr>
          <tr>
            <td>Genre</td>
            <td>{{movie?.genre}}</td>
          </tr>
          <tr>
            <td>Director(s)</td>
            <td>{{movie?.director}}</td>
          </tr>
          <tr>
            <td>Runtime</td>
            <td>{{movie?.runtime}}</td>
          </tr>
        </tbody>
      </table>     
  </div>
</div>
<div *ngIf="userService.getLoggedInUser() !== undefined"class="continer">
  Add to list
  <ul>
    <li *ngFor="let list of usersLists">
      <a *ngIf="!list.movieIds.includes(movie.imdbid)"(click)="addToList(list.id, movie.imdbid)">+ {{list.name}}</a>
      <a *ngIf="list.movieIds.includes(movie.imdbid)"(click)="removeFromList(list.id, movie.imdbid)">- {{list.name}}</a>

    </li>
  </ul>
</div>



<div class="container">
  <form [formGroup]="addReviewForm"  (ngSubmit)="submitReview()">
    <div>
      <h5>Add Review:</h5>
      <input type="text" formControlName="reviewTitle"  placeholder="Review Heading!!">
    </div>
      <textarea name="comment" formControlName="reviewComment" placeholder="Your Review!!!"></textarea>
      <input type="submit" value="Post Review" style="width:180px;height:30px;" [disabled]="addReviewForm.invalid">
  </form>
</div>

<div class="container">
  <h2>Reviews</h2>
  <div *ngFor="let review of reviewArr" class="review">
    <h4>{{review.title}}</h4>
    <p>{{review.description}} by {{review.email}}</p>
    <span>{{review.timeStamp}}</span>
  </div>
</div>
