<h1>{{movie.Title}}</h1>
<!-- 
<img src="{{movie.Poster}}">
<div *ngFor="let item of movie| keyvalue">
  <b>{{item.key}}</b>:
  {{item.value}}
</div> -->


<div class="card text-center">

  <img class="card-img-top" src="{{movie.poster}}">
  <div class="card-body">
    <h5 class="card-title">{{movie.title}}</h5>
    <div *ngFor="let item of movie| keyvalue" class="col m4 s7">
      <p class="card-text">
        <b>{{item.key}}</b>:
        {{item.value}}
      </p>
    </div>
    <button routerLink="/home" class="btn btn-primary">Go Back</button>
  </div>
</div>

<form [formGroup]="addReviewForm"  (ngSubmit)="addReview()">
  <div>
    <h5>Add Review:</h5>
    <input type="text" formControlName="reviewTitle"  placeholder="Review Heading!!">
</div>
  <textarea name="comment" formControlName="reviewComment" placeholder="Your Review!!!"></textarea>
  <input type="submit" value="Post Review" style="width:180px;height:30px;" [disabled]="addReviewForm.invalid">


</form>
