
<div class="container">
  <div>Username: <span id="username">{{user.username}}</span></div>
  <div>Email: <span id="email">{{user.email}}</span></div>
</div>

<div id="change-password"class="container">
  <button (click)="toggleChangingPassword()">Change Password</button>
  <div *ngIf="changingPassword">
    <form (ngSubmit)="changePassword()" [formGroup]="passwordForm">
        <input name="newPassword" formControlName="newPassword" type="password">
        <input name="confirmPassword" formControlName="confirmPassword" type="password">
        <input *ngIf="passwordForm.controls.newPassword.value === passwordForm.controls.confirmPassword.value && passwordForm.controls.confirmPassword.value !== ''; else password-error" type="submit" value="Submit">
        <ng-template></ng-template>
        <p>Make sure both password are the same</p>
    </form>
  </div>
</div>

